<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тестовое задание - страница "О нас"</title>
    <link rel="stylesheet" href="./resources/css/style.css">
</head>
<body>
    <header class="header">
        <h1><a href="./home.html" class="logo">TeSk</a></h1>

        <div class="container">
            <nav class="header__list">
                <ul class="header__link">
                    <li class="header__item"><a href="./home.html">На главную</a></li>
                    <li class="header__item"><a href="./auth/authorization.php">Войти</a></li>
                    <li class="header__item"><a href="./auth/registration.php">Зарегистрироваться</a></li>
                    <li class="header__item"><a href="./profile.php">Профиль</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <h1 class="description">о нас</h1>
</body>
</html>